*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: '微软雅黑';
}

body{
	background: #F2F2F2;
}

/* BEGIN: 头部 */
.index_header{
	height: 38px;
	background: #2B2B2B;
	border-top: 3px solid #00927F;
}

.index_header .index_header_container{
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	position: table;
}

.index_header .index_header_container .left{
	width: 250px;
	height: 38px;
	float: left;
}

.index_header .index_header_container .left .left_left{
	margin-top: 10px;
	float: left;
}

.index_header .index_header_container .left .left_left a{
	position: block;
	float: left;
	margin-right: 13px;
}

.index_header .index_header_container .left .left_left a img{
	border: 0px;
}

.index_header .index_header_container .left span{
	font-size: 14px;
	font-weight: bold;
	color: #009256;
	line-height: 38px;
}

.index_header .index_header_container .right{
	width: 360px;
	height: 38px;
	float: right;
}

.index_header .index_header_container .right .right_for_image{
	margin-top: 7px;
	margin-right: 5px;
	float: left;
}

.index_header .index_header_container .right .right_for_image a{
}

.index_header .index_header_container .right .right_for_image a img{
	border: none;
}

.index_header .index_header_container .right .right_diver{
	width: 1px;
	height: 16px;
	background: #474747;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
}

.index_header .index_header_container .right img{
	margin-top: 5px;
}

.index_header .index_header_container .right a{
	font-size: 13px;
	color: #B2B2B2;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.index_header .index_header_container .right a:hover{
	font-size: 13px;
	color: #00927F;
	line-height: 38px;
	cursor: pointer;
	float: left;
}
/* END: 头部 */