*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: '微软雅黑';
}

body{
	background: #F2F2F2;
}

/* BEGIN: 头部 */
.index_header{
	height: 38px;
	background: #2B2B2B;
	border-top: 3px solid #00927F;
}

.index_header .index_header_container{
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	position: table;
}

.index_header .index_header_container .left{
	width: 250px;
	height: 38px;
	float: left;
}

.index_header .index_header_container .left .left_left{
	margin-top: 10px;
	float: left;
}

.index_header .index_header_container .left .left_left a{
	position: block;
	float: left;
	margin-right: 13px;
}

.index_header .index_header_container .left .left_left a img{
	border: 0px;
}

.index_header .index_header_container .left span{
	font-size: 14px;
	font-weight: bold;
	color: #009256;
	line-height: 38px;
}

.index_header .index_header_container .right{
	width: 350px;
	height: 38px;
	float: right;
}

.index_header .index_header_container .right .right_for_image{
	margin-top: 7px;
	margin-right: 5px;
	float: left;
}

.index_header .index_header_container .right .right_for_image a{
}

.index_header .index_header_container .right .right_for_image a img{
	border: none;
}

.index_header .index_header_container .right .right_diver{
	width: 1px;
	height: 16px;
	background: #474747;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
}

.index_header .index_header_container .right img{
	margin-top: 5px;
}

.index_header .index_header_container .right a{
	font-size: 13px;
	color: #B2B2B2;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.index_header .index_header_container .right a:hover{
	font-size: 13px;
	color: #00927F;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.index_header .index_header_container .right_1{
	height: 38px;
	float: right;
}

.index_header .index_header_container .right_1 a{
	font-size: 13px;
	color: #B2B2B2;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.index_header .index_header_container .right_1 a:hover{
	font-size: 13px;
	color: #00927F;
	line-height: 38px;
	cursor: pointer;
	float: left;
}

.index_header .index_header_container .right_1 .right_diver{
	width: 1px;
	height: 16px;
	background: #474747;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
}

.index_header .index_header_container .right_1 .right_for_image{
	margin-top: 9px;
	margin-right: 5px;
	float: left;
}

.index_header .index_header_container .right_1 .right_for_image a{
}

.index_header .index_header_container .right_1 .right_for_image a img{
	border: none;
}

/* END: 头部 */

/* BEGIN: 第二个头 */
.index_header2{
	width: 100%;
	height: 85px;
	background: #FFF;
	border-bottom: 3px solid #E2E2E3;
}

.index_header2 .container{
	width: 1200px;
	height: 85px;
	margin: 0 auto;
}

.index_header2 .container .left{
	width: 180px;
	height: 85px;
	float: left;
}

.index_header2 .container .right{
	width: 600px;
	height: 85px;
	float: right;
}

.index_header2 .container .right a{
	font-size: 15px;
	color: #000;
	font-weight: bold;
	line-height: 85px;
	margin-left: 30px;
}

.index_header2 .container .right a:hover{
	font-size: 15px;
	color: #00927F;
	font-weight: bold;
	line-height: 85px;
	margin-left: 30px;
}
/* END: 第二个头 */

/* BEGIN: 第三部分 */
.index_third{
	width: 100%;
	height: 630px;
}

.index_third .bg{
	width: 100%;
	height: 630px;
}

.index_third .bg img{
	width: 100%;
	height: 100%;
}

.index_third .bg_center{
	height: 630px;
	width: 1180px;
	margin: 0 auto;
	margin-top: -650px;
}

.index_third .bg_center img{

}

.index_third .bg_select{
	position: relative;
	width: 100%;
	height: 74px;
	background: #FCFCFC;
	top: -54px;
	z-index: 1;
	opacity: 0.75;
}


/* END: 第三部分 */

/* BEGIN: 底部 */
.bottom{
	width: 100%;
	height: 80px;
	background: #2B2B2B;
	border-top: 4px solid #000;
}

.bottom .container{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.bottom .left{
	width: 650px;
	height: 80px;
	float: left;
}

.bottom .left img{
	float: left;
	margin-top: 30px;
	margin-right: 15px;
}

.bottom .left span{
	font-size: 13px;
	color: #828282;
	float: left;
	line-height: 75px;
}

.bottom .left a{
	font-size: 14px;
	color: #828282;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 75px;
	float: left;
}

.bottom .left a:hover{
	font-size: 14px;
	color: #00927F;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 75px;
	float: left;
}

.bottom .right{
	width: 450px;
	height: 80px;
	margin-right: 10px;
	float: right;
}

.bottom .right a{
	font-size: 13px;
	color: #E2E2E2;
	margin-left: 30px;
	line-height: 78px;
}

.bottom .right a:hover{
	font-size: 13px;
	color: #00927F;
	margin-left: 30px;
	line-height: 78px;
}

/* END: 底部 */