*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: '微软雅黑';
}

body{
	background: #FFF;
}

img{
	border: none;
}

/* BEGIN: 头部 */
.header{
	width: 100%;
	height: 90px;
	border-top: 3px solid #00927F;
	border-bottom: 3px solid #E1E1E1; 
}

.header .container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.header .left{
	width: 260px;
	height: 100%;
	float: left;
}

.header .left .left_img_1{
	padding-top: 34px;
	padding-bottom: 30px;
	cursor: pointer;
	float: left;
}

.header .left .divider{
	width: 2px;
	height: 26px;
	background: #DADADA;
	float: left;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: 14px;
	margin-right: 14px;
}

.header .left span{
	font-size: 14px;
	color: #727272;
	float: left;
	line-height: 88px;
	padding-bottom: 2px;
}

.header .right{
	width: 180px;
	height: 100%;
	float: right;
}

.header .right .divider{
	width: 2px;
	height: 20px;
	background: #DADADA;
	float: left;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 14px;
	margin-right: 14px;
}

.header .right a{
	color: #000000;
	font-size: 15px;
	float: left;
	line-height: 90px;
}

.header .right a:hover{
	color: #00927F;
	font-size: 15px;
	text-decoration: underline;
	float: left;
	line-height: 90px;
}
/* END: 头部 */

/* BEIGIN: 中部 */
.body_1{
	width: 100%;
	height: 485px;
	background: #F6F6F6;
	padding-top: 120px;
	padding-bottom: 150px;
}

.body_1 .container{
	width: 1200px;
	height: 485px;
	margin: 0 auto;
}

.body_1 .container .left{
	width: 650px;
	height: 450px;
	float: left;
}

.body_1 .container .left img{
	float: left;
}

.body_1 .container .right{
	width: 380px;
	height: 450px;
	float: right;
	background: #FFF;
	border: 1px solid #DADADA;
}

.body_1 .container .right .line1{
	width: 100%;
	height: 30px;
	margin-top: 45px;
	margin-bottom: 20px;
}

.body_1 .container .right .line1 span{
	font-size: 16px;
	color: #575757;
	margin-left: 45px;
}

.body_1 .container .right .line2{
	width: 380px;
	height: 30px;
	margin-bottom: 40px;
}

.body_1 .container .right .line2 input{
	width: 280px;
	height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 40px;
	border: 1px solid #DADADA;
}

.body_1 .container .right .line3{
	width: 380px;
	height: 30px;
	margin-bottom: 30px;
}

.body_1 .container .right .line3 input{
	width: 280px;
	height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 40px;
	border: 1px solid #DADADA;
}

.body_1 .container .right .line4{
	width: 380px;
	height: 25px;
	margin-bottom: 25px;
}

.body_1 .container .right .line4 img{
	margin-left: 40px;
	float: left;
	margin-top: 8px;
}

.body_1 .container .right .line4 span{
	margin-left: 5px;
	font-size: 14px;
	color: #878787;
	float: left;
	line-height: 30px;
}

.body_1 .container .right .line4 a{
	float: right;
	margin-right: 47px;
	font-size: 14px;
	color: #0088CC;
	line-height: 30px;
}

.body_1 .container .right .line4 a:hover{
	float: right;
	margin-right: 47px;
	font-size: 14px;
	color: #00972F;
	line-height: 30px;
	text-decoration: underline;
}

.body_1 .container .right .line5{
	width: 100%;
	height: 40px;
	margin-bottom: 28px;
}

.body_1 .container .right .line5 #form_submit{
	width: 295px;
	height: 40px;
	background: #409F73;
	border-radius: 3px;
	color: #FFF;
	border: 0px;
	margin-left: 37px;
}

.body_1 .container .right .line_5_for_add{
	width: 100%;
	height: 20px;
	margin-top: -20px;
}

.body_1 .container .right .line_5_for_add img{
	margin-left: 40px;
	float: left;
	margin-top: 1px;
	display: none;
}

.body_1 .container .right .line_5_for_add span{
	float: left;
	margin-left: 5px;
	font-size: 14px;
	color: #F00;
	display: none;
}

.body_1 .container .right .line6{
	width: 100%;
	height: 30px;
	margin-bottom: 8px;
}

.body_1 .container .right .line6 span{
	font-size: 14px;
	color: #878787;
	margin-left: 40px;
	margin-right: 8px;
	margin-top: 5px;
	float: left;
}

.body_1 .container .right .line6 img{
	margin: 5px 6px 0 0;
	float: left;
}

.body_1 .container .right .line6 a{
	font-size: 14px;
	color: #0088CC;
	float: right;
	margin-right: 52px;
	margin-top: 4px;
}

.body_1 .container .right .line6 a:hover{
	font-size: 14px;
	color: #00927F;
	float: right;
	margin-right: 52px;
	margin-top: 4px;
	text-decoration: underline;
}

.body_1 .container .right .line7{
	width: 100%;
	height: 20px;
	margin-bottom: 25px;
}

.body_1 .container .right .line7 span{
	font-size: 12px;
	color: #878787;
	margin-left: 40px;
	float: left;
}




/* END: 中部 */

/* BEGIN: 底部 */
.bottom{
	width: 100%;
	height: 80px;
	background: #2B2B2B;
	border-top: 4px solid #000;
}

.bottom .container{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.bottom .left{
	width: 650px;
	height: 80px;
	float: left;
}

.bottom .left img{
	float: left;
	margin-top: 30px;
	margin-right: 15px;
}

.bottom .left span{
	font-size: 13px;
	color: #828282;
	float: left;
	line-height: 75px;
}

.bottom .left a{
	font-size: 14px;
	color: #828282;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 75px;
	float: left;
}

.bottom .left a:hover{
	font-size: 14px;
	color: #00927F;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 75px;
	float: left;
}

.bottom .right{
	width: 430px;
	height: 80px;
	margin-right: 10px;
	float: right;
}

.bottom .right a{
	font-size: 13px;
	color: #E2E2E2;
	margin-left: 30px;
	line-height: 78px;
}

.bottom .right a:hover{
	font-size: 13px;
	color: #00927F;
	margin-left: 30px;
	line-height: 78px;
}

/* END: 底部 */