*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: '微软雅黑';
}

body{
	background: #FFF;
}

img{
	border: none;
}

.header{
	width: 100%;
	height: 90px;
	border-top: 3px solid #00927F;
	border-bottom: 3px solid #E1E1E1; 
}

.header .container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.header .left{
	width: 260px;
	height: 100%;
	float: left;
}

.header .left .left_img_1{
	padding-top: 34px;
	padding-bottom: 30px;
	cursor: pointer;
	float: left;
}

.header .left .divider{
	width: 2px;
	height: 26px;
	background: #DADADA;
	float: left;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: 14px;
	margin-right: 14px;
}

.header .left span{
	font-size: 14px;
	color: #727272;
	float: left;
	line-height: 88px;
	padding-bottom: 2px;
}

.header .right{
	width: 150px;
	height: 100%;
	float: right;
}

.header .right .divider{
	width: 2px;
	height: 20px;
	background: #DADADA;
	float: left;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 14px;
	margin-right: 14px;
}

.header .right a{
	color: #000000;
	font-size: 15px;
	float: left;
	line-height: 90px;
}

.header .right a:hover{
	color: #00927F;
	font-size: 15px;
	text-decoration: underline;
	float: left;
	line-height: 90px;
}

.body_1{
	width: 100%;
	height: 485px;
	background: #F6F6F6;
	padding-top: 45px;
	padding-bottom: 55px;
}

.body_1 .container{
	width: 1180px;
	height: 485px;
	margin: 0 auto;
	background: #FFF;
}

.body_1 .body_1_header{
	width: 300px;
	height: 30px;
	margin-left: 420px;
	padding-top: 42px;
}

.body_1 .body_1_header #body_1_header_for_header{
	font-size: 25px;
	color: #00927F;
	float: left;
	line-height: 28px;
	margin-right: 10px;
}

.body_1 .body_1_header #body_1_header_for_normal{
	font-size: 14px;
	color: #727272;
	float: left;
	line-height: 30px;
}

.body_1 .body_1_header a{
	font-size: 14px;
	color: #0088CC;
	float: left;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.body_1 .body_1_header a:hover{
	font-size: 14px;
	color: #00927F;
	text-decoration: underline;
	float: left;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.body_1 form{
	width: 570px;
	height: 330px;
	margin-left: 350px;
	margin-top: 20px;
}

.body_1 .form_left_span{
	font-size: 15px;
	color: #575757;
}

.body_1 input{
	width: 280px;
	height: 37px;
	border: 1px solid #DADADA;
	color: #999;
	padding: 0 5px;
}

.body_1 .body_1_form_1{
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

.body_1 .body_1_form_1 #form_left_span1{
	margin-left: 30px;
}

.body_1 .body_1_form_1 #form_1_info_1{
	color: #DADADA;
	font-size: 12px;
}

.body_1 .body_1_form_2{
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

#form_left_span2{
	margin-left: 15px;
}

.body_1 .body_1_form_3{
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

#form_left_span3{
	margin-left: 15px;
}

.body_1 .body_1_form_4{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

.body_1 .body_1_form_4 span{
	float: left;
	line-height: 40px;
}

.body_1 .body_1_form_4 img{
	width: 110px;
	height: 28px;
	float: left;
	margin-top: 7px;
	margin-left: 5px;
}

.body_1 .body_1_form_4 #body_1_form_4_input{
	width: 135px;
	float: left;
	margin-left: 3px;
}

.body_1 .body_1_form_5{
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
}

.body_1 .body_1_form_5 img{
	float: left;
	margin-top: 2px;
	margin-left: 65px;
}

.body_1 .body_1_form_5 span{
	font-size: 14px;
	color: #878787;
	float: left;
	margin-left: 6px;
}

.body_1 .body_1_form_5 a{
	font-size: 14px;
	color: #0088CC;
	float: left;
}

.body_1 .body_1_form_5 a:hover{
	font-size: 14px;
	color: #00927F;
	text-decoration: underline;
	float: left;
}

.body_1 .submit{
	width: 290px;
	height: 40px;
	background: #409F73;
	color: #FFF;
	border: none;
	border-radius: 3px;
	margin-left: 50px;
}

/* BEGIN: 底部 */
.bottom{
	width: 100%;
	height: 80px;
	background: #2B2B2B;
	margin-top: 40px;
	border-top: 4px solid #000;
}

.bottom .container{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}